<% provide(:title, "About")%>

<div id="about_holder">
  <h1>We are Boxd, here to bring you world class culinary services.</h1>

  <div class="about_section">
    <h2>Our idea</h2>
    <h3>The idea is to give you, our new found family members and potential ones the opportunity to focus on more pressing tasks and still be able to enjoy delicious meals without putting your self through that extra stress of choosing or even cooking
      what you eat after a hard day's work. That way, you can focus on school runs and the tons of work you have to do at the office.</h3>
  </div>

  <div class="about_section">
    <h2>Our motivation</h2>
    <h3>We understand very well how stressful the world is right now and here at Boxd, this is our way of lending a helping hand and doing our bit, one table at a time.</h3>
  </div>

  <div class="about_section">
    <h2>Our passion</h2>
    <h3>Boxd is a subsidiary of Naude, a solutions company, where making life easier for those around us is the major driving force.</h3>
  </div>
</div>
