<% provide(:title, "About")%>

<div class='banner center large' style="background-image: url(<%= image_path('food3') %>)">
  <div id="content">
    <h2 id="main">Welcome to boxD</h2>
    <p class="sub">We're here to make sure you have all you need, without ever leaving your kithcen.</p>
  </div>
</div>

<div class="section text">
  <h2 class="title">What do we do?</h2>
  <h5 class="subtitle">We middle-man it up!</h5>
  <p class="content">
    Ever felt too tired for grocery shopping? Or were you too busy, no one you could call for help? Have you been looking for that magic bean in the market for so long? Or are just not in the mood? We're here for those times. We'll get everything you need, with better quality and for much less wihtout ever leaving your home. No matter where you arfe what you are craving, we are dedicated to making those last minute shopping runs something you don't entirely dread.
  </p>
</div>

<!--
<div id="about_holder">
  <h1>We are Boxd, here to bring you world class culinary services.</h1>

  <div class="about_section">
    <h2>Our idea</h2>
    <h3>The idea is to give you, our new found family members and potential ones the opportunity to focus on more pressing tasks and still be able to enjoy delicious meals without putting your self through that extra stress of choosing or even cooking
      what you eat after a hard day's work. That way, you can focus on school runs and the tons of work you have to do at the office.</h3>
  </div>

  <div class="about_section">
    <h2>Our motivation</h2>
    <h3>We understand very well how stressful the world is right now and here at Boxd, this is our way of lending a helping hand and doing our bit, one table at a time.</h3>
  </div>

  <div class="about_section">
    <h2>Our passion</h2>
    <h3>Boxd is a subsidiary of Naude, a solutions company, where making life easier for those around us is the major driving force.</h3>
  </div>
</div> -->
