<div class="empty_page">
  <h1>Are you sure you want to do that? :(</h1>
  <%= button_to "Yes, I am sure", registration_path(:user), data: { confirm: "Are you sure?" }, method: :delete, id: "delete_account"%>
</div>
