<% provide(:title, "How It Works")%>
<div class='banner' style="background-image: url(<%= image_path('food2') %>)">
  <div id="content">
    <h2 id="main">Have a question?<br>We're always happy to help.</h2>
    <p class="sub">You can send us an email, call us on the phone or even chat with us live.</p>
    <%= link_to 'Contact Us', "#", class:'button highlight'%>
  </div>
</div>
