<% provide(:title, "FAQ's")%>
<div class='banner' style="background-image: url(<%= image_path('food5') %>)">
  <div id="content">
    <h2 id="main">Get yourself something to eat</h2>
    <p class="sub">From traditional to foreign, we've got everything you crave, and more.</p>
    <%= link_to 'our meals', meals_path, class:'button highlight'%>
  </div>
</div>
