<%provide(:title,"Login")%>
<div id="login_form_holder">
  <div id="user_form">
    <form action="#">
      <input type="text" class="user_form" placeholder="Email Address">
      <input type="password" class="user_form" placeholder="Password">
      <input type="submit" value="log in" class="user_form">
      <%= link_to 'reset your password?', '#', id:'password_reset'%>
      <p>or</p>
      <%=link_to "sign up", sign_up_path, id:"sign_up_button"%>

    </form>
  </div>

</div>
