.cf:after,
.cf:before {
  content: ' ';
  display: table;
}

.cf:after {
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 100;

  &:hover {
    color: rgba(79, 93, 117, 1);
  }

  &.button {
    text-transform: uppercase;
    border: 2px solid rgba(79, 93, 117, 1);
    background-color: rgba(79, 93, 117, 1);
    color: white;
    border-radius: .3em;
    padding: 0.8em 1.2em;
    display: inline-block;
    line-height: normal;
    box-shadow: 0px 0px 15px -5px rgba(45, 49, 66, 1);

    &:hover {
      background-color: white;
      color: rgba(45, 49, 66, 1);
      border-color: white;
    }

    &.inverse {
      background-color: white;
      color: rgba(45, 49, 66, 1);
      border-color: white;

      &:hover {
        border: 2px solid rgba(79, 93, 117, 1);
        background-color: rgba(79, 93, 117, 1);
        color: white;
      }
    }

    &.highlight {
      background-color: rgba(242, 98, 38, 1);
      color: white;
      border-color: rgba(242, 98, 38, 1);

      &:hover {
        background-color: white;
        color: rgba(242, 98, 38, 1);
        border-color: white;
      }
    }
  }
}

.pagination {
  text-align: center;
  margin: 40px;
  display: inline-block;
  box-shadow: 0px 0px 15px -5px rgba(45, 49, 66, 1);
  border-radius: .3em;
  height: 50px;
  overflow: hidden;

  a, span, em {
    float: left;
    text-transform: uppercase;
    background-color: rgba(79, 93, 117, 1);
    color: white;
    display: inline-block;
    line-height: 50px;
    height: 50px;
    min-width: 50px;
    padding: 0 1em;
    text-decoration: none;
    font-style: normal;
  }

  .current {
    background-color: white;
    color: rgba(79, 93, 117, 1);
  }

  .disabled {
    background-color: white;
    color: rgba(191, 192, 192, 1);
  }
}
