#index_how {
  text-align: center;
  padding: 40px 100px;

  > #title {
    text-transform: uppercase;
    font-size: 2em;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
  }

  .cards {
    margin: auto;
    width: 810px;
    margin-bottom: 20px;
  }

  .row {
    width: 750px;
    height: 250px;
    margin: 10px 0;

    .card {
      height: 250px;
      float: left;
      width: 250px;
      display: inline-block;
      overflow: hidden;
      box-shadow: 0px 0px 15px -5px rgba(45, 49, 66, 1);
      background-color: white;
      border-radius: .3em;

      .img {
        width: 250px;
        height: 250px;
        padding: 10px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          display: block;
        }
      }

      hr {
        display: none;
      }

      #text {
        display: none;
      }

      &:hover {
        .img {
          padding: 0;

          img {
            border-radius: 0;
          }
        }
      }
    }

    div.details {
      display: inline-flex;
      float: left;
      align-items: center;
      margin: 0;
      padding: 0;
      padding-left: 30px;
      border: 0;
      width: 500px;
      height: 250px;

      #cont {
        text-align: left;

        h3 {
          font-size: 2.2em;
          font-weight: 900;
          color: rgba(79, 93, 117, 1);
          margin: 0;
        }
      }

    }
    &:nth-child(even) {
      .card, .details {
        float: right;
      }
      .details {
        padding: 0;
        padding-right: 30px;
      }
    }
  }

}

.faqs {
  width: 100%;
  padding: 0 300px 50px;
  text-align: center;

  #title {
    font-size: 3em;
  }

  div.question {
    h2.question {
      margin: 0px 0 10px 0;
      text-align: left;
    }

    p.answer {
      text-align: justify;
      margin: 0px 0 30px 0;
    }
  }
}
