/*variables*/
$light-red:rgba(255,40,40,.8);
$darkerer-red:rgba(255,0,0,.8);
$darkened-green:rgba(0, 153, 0,.7);
$button-font-size:1.4em;
$dark-grey:rgba(20,20,20,.7);
$light-grey:rgba(50,50,50,.1);
$darker-grey:rgba(20,20,20,.8);
$input-font-size:1.1em;
$light-green: rgba(0,150,0,.7);
$yellow:#FF9900;
$input-height:80px;
$input-padding: 20px 30px;
$courier :"courier new";
$gostrus: gostrus;
$box-shadow: 0px 0px 30px 0px #000;
$boxd-gold: #FF9900;

/*mixins*/
@mixin box-sizing{
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
    -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
         box-sizing: border-box;
}
