<div id="footer">
  <%=link_to 'boxD', root_path, :id => "logo"%>
  <div id="social_media">
    <%=link_to image_tag( 15, alt:"boxd", id:"facebook_boxd"), '#' %>
    <%=link_to image_tag( 17, alt:"boxd", id:"twitter_boxd"), '#' %>
    <%=link_to image_tag( 16, alt:"boxd", id:"instagram_boxd"), '#' %>
  </div>
</div>
