<header>
  <nav>
    <ul>
      <li class="links_header header_links"><%=link_to 'how it works', how_it_works_path%></li>
      <li class="links_header header_links"><%=link_to 'about boxd', about_path%></li>
      <li class="links_header header_links"><%=link_to 'our meals', our_meals_path%></li>
      <li class="links_header"><%=link_to image_tag( 0, alt:'BOXD'), index_path%></li>
    </ul>
  </nav>
</header>
