<header>
  <%= link_to image_tag('#', alt:BOXD), '#' , id:'boxd_logo'%>
  <nav>
    <ul>
      <li><%=link_to 'OUR MEALS', '#'%></li>
      <li><%=link_to 'ABOUT BOXD', '#'%></li>
      <li><%=link_to 'HOW IT WORKS', '#'%></li>
      <li id="login_button"><%link_to 'LOG in', '#'%></li>
    </ul>
  </nav>
</header>
